$width-medium: pem(641); /* 768px */
$width-small:  pem(640); /* 640px */


// Change the grid settings
$max-width: pem(1200);

$ak_padding: ($gutter*0.75);

// Define your breakpoints
$med_breakpoint: new-breakpoint(min-width $width-medium 12);
$small_breakpoint: new-breakpoint(max-width $width-small 2);


// masthead:
$mh_med_height: 50px;
$mh_med_padding-top: pem(4);
$mh_med_padding-sides: pem(4);
$mh_med_padding-bottom: pem(4);
